# temp
.libs/
.deps/
.dirstamp
/Makefile
contrib/Makefile
config.h
config.log
config.status
libtool
stamp-h1

# Compilation objects
*.o
*.lo

# Libtool wrappers
*.la

# Binaries or their equiv libtool wrappers
/acsadmin
/acslist
/amsbenchr
/amsbenchs
/amsd
/amshello
/amslog
/amslogprt
/amsmib
/amsshell
/amsstop
/aoslsi
/aoslso
/armur
/armuradmin
/armurrestart
/beacon
/bibeclo
/bpadmin
/bpcancel
/bpchat
/bpclm
/bpclock
/bpcounter
/bpcp
/bpcpd
/bpcrash
/bpdriver
/bpecho
/bping
/bplist
/bpnmtest
/bprecvfile
/bpsecadmin
/bpsendfile
/bpsink
/bpsource
/bpstats
/bpstats2
/bptrace
/bptransit
/bputa
/brsccla
/brsscla
/bsscounter
/bssdriver
/bsspadmin
/bsspcli
/bsspclo
/bsspclock
/bssrecv
/bssStreamingApp
/cfdpadmin
/cfdpclock
/cfdptest
/cgrfetch
/dccpcli
/dccpclo
/dccplsi
/dccplso
/dgr2file
/dgrcli
/dgrclo
/dtn2admin
/dtn2adminep
/dtn2fw
/dtpcadmin
/dtpcclock
/dtpcd
/dtpcreceive
/dtpcsend
/file2dgr
/file2sdr
/file2sm
/file2tcp
/file2udp
/hmackeys
/imcadmin
/imcfw
/ionadmin
/ionexit
/ionlog
/ionrestart
/ionsecadmin
/ionunlock
/ionwarn
/ipnadmin
/ipnadminep
/ipnd
/ipnfw
/lgagent
/lgsend
/ltpadmin
/ltpcli
/ltpclo
/ltpclock
/ltpcounter
/ltpdeliv
/ltpdriver
/ltpmeter
/ltpsecadmin
/nm_agent
/nm_mgr
/node
/owltsim
/owlttb
/psmshell
/psmwatch
/ramsgate
/rfxclock
/sdatest
/sdr2file
/sdrmend
/sdrwatch
/sm2file
/smlistsh
/smrbtsh
/stcpcli
/stcpclo
/tcp2file
/tcpbsi
/tcpbso
/tcpcli
/tcpclo
/tcputa
/udp2file
/udpbsi
/udpbso
/udpcli
/udpclo
/udplsi
/udplso

# Compiled manpages (not the pod sources)
/**/doc/*.1
/**/doc/*.3
/**/doc/*.5

# Editor swap files
.*.swp
*.vim

build*/*
.hg*
.stamp_*
